Source: lysp
Section: lisp
Priority: extra
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 7.2.5), libgc-dev
Standards-Version: 3.8.3
Homepage: http://piumarta.com/software/lysp/
Vcs-Git: git://git.debian.org/git/collab-maint/lysp.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/lysp.git

Package: lysp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A tiny, lightweight Lisp interpreter
 LYSP - 50 Years of Symbolic Processing.  A tiny, lightweight Lisp
 interpreter closely following the tradition of the earliest
 implementations.
