#!/usr/bin/make -f

build clean install binary-arch binary-indep binary:
	dh $@

.PHONY: build clean install binary-arch binary-indep binary

CFLAGS+=-Wall -Wextra -Wno-unused-parameter

CPPFLAGS+=-DNDEBUG
CFLAGS+=-g

CPPFLAGS+=-DBDWGC=1
LOADLIBES+=-lgc

LDFLAGS+=-rdynamic

CFLAGS+=-O3

override_dh_auto_build: lysp

override_dh_auto_test:
	@echo skipping automatic tests
